

.stragraphySamples {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 1rem;
    justify-content: flex-start;
    /* background-color: rgba(203, 243, 240, 0.6); */
    box-shadow: 0 4px 8px 0 rgba(0,0,0, 0.4);
    border-radius: 0.4rem;
}

.samples {
    /* background-color: rgba(46, 196, 182, 1); */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    border-radius: 0.4rem;
    margin: .5rem;
    padding: 1rem;
    width: 15rem;
    height: 25rem;
}

.samples:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
  }